<div id="wrapper">

  <!-- Nav -->
  <nav id="nav">
    <a href="https://helg18.github.io/mariaPampena/" class="icon solid fa-home"><span>Home</span></a>
    <a href="#work" class="icon solid fa-folder"><span>Work</span></a>
    <a href="#contact" class="icon solid fa-search"><span>Contact</span></a>
    <a href="https://wa.me/584246761161?text=Hola%20vengo%20de%20su%sitio%20web%20Quisiera%20tener%20informacion%20de%20las%20consultas." target="_blank" rel="noreferrer" class="icon solid fa-whatsapp"><span>Whatsapp</span></a>
    <a href="https://t.me/mraypampi" target="_blank" rel="noreferrer" class="icon solid fa-telegram"><span>Telegram</span></a>
    <a href="mailto:marypampe@hotmail.com" target="_blank" rel="noreferrer" class="icon solid fa-envelope"><span>e-Mail</span></a>
  </nav>

  <!-- Main -->
  <div id="main">

    <!-- Me -->
    <article id="home" class="panel intro">
      <header>
        <h1>{{name}}</h1>
        <p>{{title}}</p>
      </header>
      <a href="#work" class="jumplink pic">
        <span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
        <img src="https://helg18.github.io/mariaPampena/assets/images/me.jpg" alt="" />
      </a>
    </article>

    <!-- Trabajp -->
    <article id="work" class="panel">
      <header>
        <h2>Trabajo</h2>
      </header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deserunt error eveniet ex harum labore maxime molestias, mollitia, nemo repellat reprehenderit sint veniam. Blanditiis ipsum officiis pariatur quidem tempore ullam.
      </p>
      <section>
        <div class="row">
          <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="https://helg18.github.io/mariaPampena/assets/images/pic01.jpg" alt=""></a>
          </div>
          <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="https://helg18.github.io/mariaPampena/assets/images/pic02.jpg" alt=""></a>
          </div>
          <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="https://helg18.github.io/mariaPampena/assets/images/pic03.jpg" alt=""></a>
          </div>
          <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="https://helg18.github.io/mariaPampena/assets/images/pic04.jpg" alt=""></a>
          </div>
          <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="https://helg18.github.io/mariaPampena/assets/images/pic05.jpg" alt=""></a>
          </div>
          <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="https://helg18.github.io/mariaPampena/assets/images/pic06.jpg" alt=""></a>
          </div>
          <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="https://helg18.github.io/mariaPampena/assets/images/pic07.jpg" alt=""></a>
          </div>
          <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="https://helg18.github.io/mariaPampena/assets/images/pic08.jpg" alt=""></a>
          </div>
          <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="https://helg18.github.io/mariaPampena/assets/images/pic09.jpg" alt=""></a>
          </div>
          <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="https://helg18.github.io/mariaPampena/assets/images/pic10.jpg" alt=""></a>
          </div>
          <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="https://helg18.github.io/mariaPampena/assets/images/pic11.jpg" alt=""></a>
          </div>
          <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="https://helg18.github.io/mariaPampena/assets/images/pic12.jpg" alt=""></a>
          </div>
        </div>
      </section>
    </article>

    <!-- Contactame -->
    <article id="contact" class="panel">
      <header>
        <h2>Contáctame</h2>
      </header>
      <section>
        <div class="row">
          <div class="col-4 col-6-medium col-12-small">
            <h3>
              <a href="mailto:marypampe@hotmail.com" target="_blank" rel="noreferrer" class="icon solid fa-envelope-open">&nbsp;
                <span>&nbsp;e-Mail </span>
              </a>
            </h3>
          </div>
          <div class="col-4 col-6-medium col-12-small">
            <h3>
              <a href="https://wa.me/584246761161?text=Hola%20vengo%20de%20su%20sitio%20web%20Quisiera%20tener%20informacion%20de%20las%20consultas" target="_blank" rel="noreferrer" class="icon brands fa-whatsapp">
                <span>&nbsp;Whatsapp</span>
              </a>
            </h3>
          </div>
          <div class="col-4 col-6-medium col-12-small">
            <h3>
              <a href="https://t.me/marypampi" target="_blank" rel="noreferrer" class="icon brands fa-telegram">&nbsp;<span>&nbsp;Telegram</span></a>
            </h3>
          </div>
        </div>
      </section>

    </article>

  </div>

  <!-- Footer -->
  <div id="footer">
    <ul class="copyright">
      <li>{{anio}} &copy; {{name}} - {{title}}.</li>
      <li>Build by: <a target="_blank" rel="noreferrer" href="https://henryleon.com.ve">Henry Leon</a></li>
    </ul>
  </div>

</div>
